/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";

/* Home */
.home {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-areas: 'main sidebar'
}
.saved-queries {
  grid-area: sidebar;
  height: 100%;

}
.main {
  grid-area: main;
}

.form-group > label {
  font-weight: bold;
}

/* Heading */
nav > a.nav-link {
  color: white;
}

/* Sidebar */
.saved-queries-title {
  padding: 0.5rem 1.25rem;
}